@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow: hidden;
}

body::before {
    content: "";
    background-image: linear-gradient(to right top, #5ab1bb, #5ab7b5, #63bdab, #72c29f, #86c592, #95c98b, #a5cc84, #b7ce7d, #c6d279, #d5d676, #e6da74, #f7dd72);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.terms {
    max-height: 65vh;
    overflow-y: auto;
}

.terms::-webkit-scrollbar {
    width: 0.5rem;
}

.terms::-webkit-scrollbar-track {
    background-color: #ebe7e7;
    border-radius: 2rem;
}

.terms::-webkit-scrollbar-thumb {
    background-color: #39603c;
    border-radius: 2rem;
}

.game_result {
    text-align: center;
    animation: shake 0.7s ease-in-out 0.7s infinite alternate;
}

@keyframes shake {
    from {
        transform: rotate(3deg);
    }

    to {
        transform-origin: center center;
        transform: rotate(-3deg);
    }
}

.game-card.shake {
    animation: cardShake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes cardShake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}