@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow: hidden;
}

body::before {
    content: "";
    background-image: linear-gradient(to right top, #5ab1bb, #5ab7b5, #63bdab, #72c29f, #86c592, #95c98b, #a5cc84, #b7ce7d, #c6d279, #d5d676, #e6da74, #f7dd72);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.terms {
    max-height: 65vh;
    overflow-y: auto;
}

.terms::-webkit-scrollbar {
    width: 0.5rem;
}

.terms::-webkit-scrollbar-track {
    background-color: #ebe7e7;
    border-radius: 2rem;
}

.terms::-webkit-scrollbar-thumb {
    background-color: #39603c;
    border-radius: 2rem;
}