@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.terms {
    max-height: 65vh;
    overflow-y: auto;
}

.terms::-webkit-scrollbar {
    width: 0.5rem;
}

.terms::-webkit-scrollbar-track {
    background-color: #ebe7e7;
    border-radius: 2rem;
}

.terms::-webkit-scrollbar-thumb {
    background-color: #39603c;
    border-radius: 2rem;
}