@import 'variables';
@import 'typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

html {
    background-image: linear-gradient(to right top, #5ab1bb, #5ab7b5, #63bdab, #72c29f, #86c592, #95c98b, #a5cc84, #b7ce7d, #c6d279, #d5d676, #e6da74, #f7dd72);
    background-color: ghostwhite;
}

@import 'grid';
@import 'box_model';
@import 'colors';
@import 'section';
@import 'input';
@import 'button';
@import 'modal';

.logo {
    max-width: 64px;
}